{% extends "layout.html" %}

{% block main %}
    <h1 style="color:white;">{{username}}'s Portfolio</h1>
    <table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Stocks</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Total value of holding</th>
        </tr>
    </thead>
    <tbody>
        {% for row in purchases_db %}
            <tr>
                <td>{{row["stock"]}}</td>
                <td>{{row["shares"]}}</td>
                <td>{{row["price"] | usd}}</td>
                <td>{{(row.price * row.shares) | usd}}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td><b>Cash</b></td>
            <td>{{cash | usd}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>TOTAL</b></td>
            <td>{{gtotal | usd}}</td>
        </tr>
    </tbody>
    </table>
{% endblock %}
