{% extends "layout.html" %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{symbol}}</td>
                <td>{{price | usd}}</td>
            </tr>
        </tbody>
    </table>
    <form action="/quoted" method="post">
        <input class="btn btn-primary" type="submit" name="click" id="click" value="Add to watchlist">
    </form>
{% endblock %}