{% extends "layout.html" %}

{% block main %}
    <h1 style="color:white;">Lookup any stock's current value</h1>
    <br><br>
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <br>
    <img src="/static/trading.png" alt="Buy Pic" height="200" width="200">
{% endblock %}
