{% extends "layout.html" %}

{% block main %}

    <div class="switch">
        <div class="page">
            <div class="group">
                <div class="top">
                    <img style="padding: 20px;" src="/static/watchlist-icon-popup.svg">
                    <h1 style="padding-top: 30px">Watchlist</h1>
                </div>
                <div class="search">
                    <!-- <div><input style="width: 450px;" type="text" placeholder="Search.."></div> -->
                    <form class="form1" onsubmit="event.preventDefault();" role="search">
                        <label for="search">Search for stuff</label>
                        <input id="search" type="search" placeholder="Search..." autofocus required/>
                        <button id="serbt" type="submit">Go</button>    
                    </form>
                </div>
                <div class="heading">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Symbol</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{symbol}}</td>
                                <td>{{name}}</td>
                                <td>{{price | usd}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="multiple">
            <button style="background: var(--color-brand); padding: 4px;">1</button>
            <button style="background: var(--color-brand); padding: 4px;">2</button>
            <button style="background: var(--color-brand); padding: 4px;">3</button>
            <button style="background: var(--color-brand); padding: 4px;">4</button>
            <button style="background: var(--color-brand); padding: 4px;">5</button>
            <button style="background: var(--color-brand); padding: 4px;">6</button>
            <button style="background: var(--color-brand); padding: 4px;">7</button>
        </div>
    </div>    

{% endblock %}